# Tensorflow

In [18]:
import pandas as pd
reviews_df = pd.read_csv("drive/MyDrive/Dataset/selected.csv", nrows=100)
# print the shape of the dataframe
print("Dataframe shape:", reviews_df.shape)

Dataframe shape: (100, 7)

In [19]:
val= reviews_df.loc[:,'category_code']
val.unique()
# sp = val.unique()[:-1].split(".")
# sp

array(['appliances.environment.water_heater',
       'furniture.living_room.sofa', 'computers.notebook',
       'electronics.smartphone', 'computers.desktop',
       'apparel.shoes.keds', 'appliances.kitchen.microwave',
       'furniture.bedroom.bed', 'electronics.video.tv',
       'appliances.kitchen.mixer', 'electronics.audio.headphone',
       'appliances.environment.air_heater', 'apparel.shoes',
       'appliances.environment.vacuum',
       'appliances.kitchen.refrigerators', 'appliances.kitchen.washer',
       'computers.peripherals.monitor', 'construction.tools.pump',
       'electronics.clocks', 'apparel.shoes.slipons'], dtype=object)

In [20]:
rdf1 = reviews_df.drop(columns=['Unnamed: 0'])

# coorelation matrix

In [21]:
ratings_utility_matrix = rdf1.pivot_table(values='price', index='user_id', columns='category_code', fill_value=0)
ratings_utility_matrix.head()

category_code,apparel.shoes,apparel.shoes.keds,apparel.shoes.slipons,appliances.environment.air_heater,appliances.environment.vacuum,appliances.environment.water_heater,appliances.kitchen.microwave,appliances.kitchen.mixer,appliances.kitchen.refrigerators,appliances.kitchen.washer,computers.desktop,computers.notebook,computers.peripherals.monitor,construction.tools.pump,electronics.audio.headphone,electronics.clocks,electronics.smartphone,electronics.video.tv,furniture.bedroom.bed,furniture.living_room.sofa
user_id,,,,,,,,,,,,,,,,,,,,
512539408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,957.530,0.0,0.0,0.0
512558158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,654.090,0.0,0.0,0.0
512742880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,957.5275,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
512796782,0.0,0.0,0.0,28.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
513457407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,293.605,0.0,0.0,0.0

In [22]:
ratings_utility_matrix.shape

(61, 20)

In [23]:
X = ratings_utility_matrix.T
X.head()

user_id,512539408,512558158,512742880,512796782,513457407,513664804,513758741,513798668,514080443,514218020,...,555217733,555357251,555428858,555444559,555446365,555446831,555447228,555447570,555447651,555447788
category_code,,,,,,,,,,,,,,,,,,,,,
apparel.shoes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102.45,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,51.220,0.0,0.0
apparel.shoes.keds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,69.885,0.0,0.0
apparel.shoes.slipons,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.0
appliances.environment.air_heater,0.0,0.0,0.0,28.7,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,49.81,0.000,0.0,0.0
appliances.environment.vacuum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,149.24,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.0

In [24]:
X.shape

(20, 61)

In [25]:
X1 = X

In [26]:
import sklearn
from sklearn.decomposition import TruncatedSVD
SVD = TruncatedSVD(n_components=10)
decomposed_matrix = SVD.fit_transform(X)
decomposed_matrix.shape

(20, 10)

In [27]:
import numpy as np
correlation_matrix = np.corrcoef(decomposed_matrix)
correlation_matrix.shape

(20, 20)

In [28]:
X.index[4]

'appliances.environment.vacuum'

In [34]:
i = "appliances.environment.vacuum"

product_names = list(X.index)
product_ID = product_names.index(i)
product_ID

4

In [40]:
correlation_product_ID = correlation_matrix[product_ID]
correlation_product_ID.shape

(20,)

In [42]:
Recommend = list(X.index[correlation_product_ID < 1])

# Removes the item already bought by the customer
# lst = []
# for i in lst:
#   print(i)
#   lst.remove(i)
for i in Recommend:
  Recommend.remove(i) 

Recommend[0:5]

['apparel.shoes.keds',
 'appliances.environment.air_heater',
 'appliances.kitchen.microwave',
 'appliances.kitchen.refrigerators',
 'computers.desktop']

In [ ]:
from sklearn.model_selection import train_test_split
X = rdf1.drop('event_type', axis=1)
X

In [ ]:
y = rdf1['event_type'].apply(lambda y_vlaue: 1 
                                  if y_vlaue=='purchase' 
                                  else 0)
y.tail()

In [ ]:
X_train, X_test,  y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=2)
print(X_train.shape, y.shape, y_train.shape, y_test.shape)

In [ ]:
!pip install tensorflow_decision_forests

In [ ]:
import tensorflow_decision_forests as tfdf

In [ ]:
y_train.to_csv('new.csv')

In [ ]:
new_df=(y_train.groupby(['event_types'])
           .agg(list)
           .reindex(columns=y_train.columns) )
print(new_df)

In [ ]:
y_train.head()

In [ ]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(y_train, label='event_type')
model = tfdf.keras.RandomForestModel()
model.fit(train_ds)

# TensorFlow Recommenders

[more]()

# KNN

In [ ]:
reviews_df

In [ ]:
y = reviews_df['event_type'].apply(lambda y_vlaue: 1 
                                  if y_vlaue=='view' 
                                  else 0)
y

In [ ]:
rx = reviews_df.unique().review_df['user_id'].drop_duplicates()

In [ ]:
from scipy.sparse import csr_matrix
df_movie_features = rx.pivot(
    index='Unnamed: 0',
    columns='event_type',
    values='price'
).fillna(0)

movie_to_idx = {
    movie: i for i, movie in 
    enumerate(list(reviews_df.set_index('movieId').loc[movie_user_mat.index].title))
}
# transform matrix to scipy sparse matrix
mat_movie_features = csr_matrix(df_movie_features.values)

In [ ]:
df_movie_features.head()

filter data

RESHAPE

In [ ]:
# pivot and create movie-user matrix
movie_user_mat = reviews_df.pivot(index='Unnamed: 0', columns='user_id', values='price').fillna(0)
# create mapper from movie title to index
movie_to_idx = {
    movie: i for i, movie in 
    enumerate(list(reviews_df.set_index('Unnamed: 0').loc[movie_user_mat.index].title))
}
# transform matrix to scipy sparse matrix
movie_user_mat_sparse = csr_matrix(movie_user_mat.values)

In [ ]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [ ]:
def make_recommendations(self, fav_pro, n_recommendations):
    """
    make top n movie recommendations
    Parameters
    ----------
    fav_movie: str, name of user input movie
    n_recommendations: int, top n recommendations
    """
    # get data
    movie_user_mat_sparse, hashmap = self._prep_data()
    # get recommendations
    raw_recommends = self._inference(
        self.model, movie_user_mat_sparse, hashmap,
        fav_pro, n_recommendations)
    # print results
    reverse_hashmap = {v: k for k, v in hashmap.items()}
    print('Recommendations for {}:'.format(fav_pro))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance '
              'of {2}'.format(i+1, reverse_hashmap[idx], dist))

In [ ]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
# fit
model_knn.fit(mat_movie_features)

In [ ]:
!pip install fuzzywuzzy

In [ ]:
# utils import
from fuzzywuzzy import fuzz

def fuzzy_matching(mapper, fav_movie, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    
    Parameters
    ----------    
    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie
    
    verbose: bool, print log if True

    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]



def make_recommendation(model_knn, data, mapper, fav_movie, n_recommendations):
    """
    return top n similar movie recommendations based on user's input movie


    Parameters
    ----------
    model_knn: sklearn model, knn model

    data: movie-user matrix

    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie

    n_recommendations: int, top n recommendations

    Return
    ------
    list of top n similar movie recommendations
    """
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input movie:', fav_movie)
    idx = fuzzy_matching(mapper, fav_movie, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [ ]:
my_favorite = 'Iron Man'

make_recommendation(
    model_knn=model_knn,
    data=reviews_df,
    fav_movie=my_favorite,
    mapper=reviews_df,
    n_recommendations=10)