<a href="https://colab.research.google.com/github/Senoirpro/Product-recommendation-for-e-commerce/blob/main/senoir_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tensorflow

In [18]:
import pandas as pd
reviews_df = pd.read_csv("drive/MyDrive/Dataset/selected.csv", nrows=100)
# print the shape of the dataframe
print("Dataframe shape:", reviews_df.shape)

Dataframe shape: (100, 7)

In [19]:
val= reviews_df.loc[:,'category_code']
val.unique()
# sp = val.unique()[:-1].split(".")
# sp

array(['appliances.environment.water_heater',
       'furniture.living_room.sofa', 'computers.notebook',
       'electronics.smartphone', 'computers.desktop',
       'apparel.shoes.keds', 'appliances.kitchen.microwave',
       'furniture.bedroom.bed', 'electronics.video.tv',
       'appliances.kitchen.mixer', 'electronics.audio.headphone',
       'appliances.environment.air_heater', 'apparel.shoes',
       'appliances.environment.vacuum',
       'appliances.kitchen.refrigerators', 'appliances.kitchen.washer',
       'computers.peripherals.monitor', 'construction.tools.pump',
       'electronics.clocks', 'apparel.shoes.slipons'], dtype=object)

In [20]:
rdf1 = reviews_df.drop(columns=['Unnamed: 0'])

# coorelation matrix

In [21]:
ratings_utility_matrix = rdf1.pivot_table(values='price', index='user_id', columns='category_code', fill_value=0)
ratings_utility_matrix.head()

category_code,apparel.shoes,apparel.shoes.keds,apparel.shoes.slipons,appliances.environment.air_heater,appliances.environment.vacuum,appliances.environment.water_heater,appliances.kitchen.microwave,appliances.kitchen.mixer,appliances.kitchen.refrigerators,appliances.kitchen.washer,computers.desktop,computers.notebook,computers.peripherals.monitor,construction.tools.pump,electronics.audio.headphone,electronics.clocks,electronics.smartphone,electronics.video.tv,furniture.bedroom.bed,furniture.living_room.sofa
user_id,,,,,,,,,,,,,,,,,,,,
512539408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,957.530,0.0,0.0,0.0
512558158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,654.090,0.0,0.0,0.0
512742880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,957.5275,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
512796782,0.0,0.0,0.0,28.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
513457407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,293.605,0.0,0.0,0.0

In [22]:
ratings_utility_matrix.shape

(61, 20)

In [23]:
X = ratings_utility_matrix.T
X.head()

user_id,512539408,512558158,512742880,512796782,513457407,513664804,513758741,513798668,514080443,514218020,...,555217733,555357251,555428858,555444559,555446365,555446831,555447228,555447570,555447651,555447788
category_code,,,,,,,,,,,,,,,,,,,,,
apparel.shoes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102.45,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,51.220,0.0,0.0
apparel.shoes.keds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,69.885,0.0,0.0
apparel.shoes.slipons,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.0
appliances.environment.air_heater,0.0,0.0,0.0,28.7,0.0,0.0,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,49.81,0.000,0.0,0.0
appliances.environment.vacuum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,149.24,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.0

In [24]:
X.shape

(20, 61)

In [25]:
X1 = X

In [26]:
import sklearn
from sklearn.decomposition import TruncatedSVD
SVD = TruncatedSVD(n_components=10)
decomposed_matrix = SVD.fit_transform(X)
decomposed_matrix.shape

(20, 10)

In [27]:
import numpy as np
correlation_matrix = np.corrcoef(decomposed_matrix)
correlation_matrix.shape

(20, 20)

In [28]:
X.index[4]

'appliances.environment.vacuum'

In [34]:
i = "appliances.environment.vacuum"

product_names = list(X.index)
product_ID = product_names.index(i)
product_ID

4

In [40]:
correlation_product_ID = correlation_matrix[product_ID]
correlation_product_ID.shape

(20,)

In [43]:
Recommend = list(X.index[correlation_product_ID < 1])

# Removes the item already bought by the customer
# lst = []
# for i in lst:
#   print(i)
#   lst.remove(i)
for i in Recommend:
  Recommend.remove(i) 

Recommend[0:10]

['apparel.shoes.keds',
 'appliances.environment.air_heater',
 'appliances.kitchen.microwave',
 'appliances.kitchen.refrigerators',
 'computers.desktop',
 'computers.peripherals.monitor',
 'electronics.audio.headphone',
 'electronics.smartphone',
 'furniture.bedroom.bed']

In [ ]:
from sklearn.model_selection import train_test_split
X = rdf1.drop('event_type', axis=1)
X

In [ ]:
y = rdf1['event_type'].apply(lambda y_vlaue: 1 
                                  if y_vlaue=='purchase' 
                                  else 0)
y.tail()

In [ ]:
X_train, X_test,  y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=2)
print(X_train.shape, y.shape, y_train.shape, y_test.shape)

In [ ]:
!pip install tensorflow_decision_forests

In [ ]:
import tensorflow_decision_forests as tfdf

In [ ]:
y_train.to_csv('new.csv')

In [ ]:
new_df=(y_train.groupby(['event_types'])
           .agg(list)
           .reindex(columns=y_train.columns) )
print(new_df)

In [ ]:
y_train.head()

In [ ]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(y_train, label='event_type')
model = tfdf.keras.RandomForestModel()
model.fit(train_ds)

# TensorFlow Recommenders

[more]()

# KNN

In [52]:
reviews_df

,Unnamed: 0,event_type,product_id,category_id,category_code,price,user_id
0,1,view,3900821,2053013552326770905,appliances.environment.water_heater,33.20,554748717
1,2,view,17200506,2053013559792632471,furniture.living_room.sofa,543.10,519107250
2,3,view,1307067,2053013558920217191,computers.notebook,251.74,550050854
3,4,view,1004237,2053013555631882655,electronics.smartphone,1081.98,535871217
4,5,view,1480613,2053013561092866779,computers.desktop,908.62,512742880
...,...,...,...,...,...,...,...
95,137,view,6200547,2053013552293216471,appliances.environment.air_heater,49.81,555447228
96,138,view,1003317,2053013555631882655,electronics.smartphone,957.53,512539408
97,139,view,3600575,2053013563810775923,appliances.kitchen.washer,275.37,554754045
98,140,view,1004767,2053013555631882655,electronics.smartphone,254.82,551417808
99,142,view,1004856,2053013555631882655,electronics.smartphone,130.76,513457407

In [47]:
y = reviews_df['event_type'].apply(lambda y_vlaue: 1 
                                  if y_vlaue=='view' 
                                  else 0)
y

0     1
1     1
2     1
3     1
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: event_type, Length: 100, dtype: int64

In [50]:
rx = reviews_df['user_id'].drop_duplicates()

In [51]:
from scipy.sparse import csr_matrix
df_product_features = rx.pivot(
    index='Unnamed: 0',
    columns='event_type',
    values='price'
).fillna(0)

product_to_idx = {
    product: i for i, product in 
    enumerate(list(reviews_df.set_index('product_id').loc[product_user_mat.index].title))
}
# transform matrix to scipy sparse matrix
mat_product_features = csr_matrix(df_product_features.values)

AttributeError: ignored

In [ ]:
df_product_features.head()

filter data

RESHAPE

In [45]:
reviews_df

,Unnamed: 0,event_type,product_id,category_id,category_code,price,user_id
0,1,view,3900821,2053013552326770905,appliances.environment.water_heater,33.20,554748717
1,2,view,17200506,2053013559792632471,furniture.living_room.sofa,543.10,519107250
2,3,view,1307067,2053013558920217191,computers.notebook,251.74,550050854
3,4,view,1004237,2053013555631882655,electronics.smartphone,1081.98,535871217
4,5,view,1480613,2053013561092866779,computers.desktop,908.62,512742880
...,...,...,...,...,...,...,...
95,137,view,6200547,2053013552293216471,appliances.environment.air_heater,49.81,555447228
96,138,view,1003317,2053013555631882655,electronics.smartphone,957.53,512539408
97,139,view,3600575,2053013563810775923,appliances.kitchen.washer,275.37,554754045
98,140,view,1004767,2053013555631882655,electronics.smartphone,254.82,551417808
99,142,view,1004856,2053013555631882655,electronics.smartphone,130.76,513457407

In [46]:
# pivot and create product-user matrix
product_user_mat = reviews_df.pivot(index='Unnamed: 0', columns='user_id', values='price').fillna(0)
# create mapper from product title to index
product_to_idx = {
    product: i for i, product in 
    enumerate(list(reviews_df.set_index('Unnamed: 0').loc[product_user_mat.index].category_code))
}
# transform matrix to scipy sparse matrix
product_user_mat_sparse = csr_matrix(product_user_mat.values)

NameError: ignored

In [ ]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [ ]:
def make_recommendations(self, fav_pro, n_recommendations):
    """
    make top n product recommendations
    Parameters
    ----------
    fav_product: str, name of user input product
    n_recommendations: int, top n recommendations
    """
    # get data
    product_user_mat_sparse, hashmap = self._prep_data()
    # get recommendations
    raw_recommends = self._inference(
        self.model, product_user_mat_sparse, hashmap,
        fav_pro, n_recommendations)
    # print results
    reverse_hashmap = {v: k for k, v in hashmap.items()}
    print('Recommendations for {}:'.format(fav_pro))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance '
              'of {2}'.format(i+1, reverse_hashmap[idx], dist))

In [ ]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
# fit
model_knn.fit(mat_product_features)

In [ ]:
!pip install fuzzywuzzy

In [ ]:
# utils import
from fuzzywuzzy import fuzz

def fuzzy_matching(mapper, fav_product, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    
    Parameters
    ----------    
    mapper: dict, map product title name to index of the product in data

    fav_product: str, name of user input product
    
    verbose: bool, print log if True

    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_product.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]



def make_recommendation(model_knn, data, mapper, fav_product, n_recommendations):
    """
    return top n similar product recommendations based on user's input product


    Parameters
    ----------
    model_knn: sklearn model, knn model

    data: product-user matrix

    mapper: dict, map product title name to index of the product in data

    fav_product: str, name of user input product

    n_recommendations: int, top n recommendations

    Return
    ------
    list of top n similar product recommendations
    """
    # fit
    model_knn.fit(data)
    # get input product index
    print('You have input product:', fav_product)
    idx = fuzzy_matching(mapper, fav_product, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_product))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [ ]:
my_favorite = 'appliances.environment.vacuum'

make_recommendation(
    model_knn=model_knn,
    data=reviews_df,
    fav_product=my_favorite,
    mapper=reviews_df,
    n_recommendations=10)